# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
開啟檔案.bat
A copy 2.html
A copy 3.html
A copy 4.html
A copy 5.html
A copy 6.html
A copy 7.html
A copy 8.html
A copy.html
A.html
B.html
C copy.html
C.html
_web.config